<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.NumOfSpactoatorsMapper">
    <select id="selectNumOfSpactoators" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        select * from num_of_spactoators 
        where 
        <if test="year != null">
            year(nos_date) = #{year}
        </if>
        <if test="month != null">
            and month(nos_date) = #{month}
        </if>
        <if test="home_away != null and home_away.equals('home')">
            and home = '삼성'
        </if>
        <if test="home_away != null and home_away.equals('away')">
            and away = '삼성'
        </if>
        <if test="team != null">
            and (home = #{team} or away = #{team})
        </if>
        <if test="stadium != null">
            and baseball_stadium = #{stadium}
        </if>
        <if test="day_of_week != null">
            and day_of_the_weeks = #{day_of_week}
        </if>
    </select>
    <select id="selectYear" resultType="java.lang.Integer">
        select distinct year(nos_date) as years 
        from num_of_spactoators order by years desc
    </select>
    <select id="selectBaseballStadium" resultType="java.lang.String">
        select distinct baseball_stadium from num_of_spactoators
    </select>
    <select id="selectTeams" resultType="java.lang.String">
        select distinct home as team_name from num_of_spactoators
        where home != '삼성'
    </select>

    <select id="selectSumYear" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        select nosby_year,sum_year as spactoators 
        from num_of_spactoators_by_year
    </select>
    <select id="selectAvgOneGame" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        select nosby_year,avg_one_game as spactoators 
        from num_of_spactoators_by_year
    </select>

    <select id="selectHomeAwayAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                '홈' as label,avg(spactoators) as avg_spactoators 
            from num_of_spactoators 
            where home = '삼성' and year(nos_date) >= 2021 
            group by home
            union all
            select 
                '방문',avg(spactoators) as avg_spactoators 
            from num_of_spactoators 
            where away = '삼성' and year(nos_date) >= 2021 
            group by away 
        ]]>
    </select>
    <select id="selectStadiumAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                baseball_stadium as label,avg(spactoators) as avg_spactoators 
            from num_of_spactoators 
            where year(nos_date) >= 2021 
            group by baseball_stadium
        ]]>
    </select>
    <select id="selectMonthAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                month(nos_date) as label,avg(spactoators) as avg_spactoators
            from num_of_spactoators 
            where year(nos_date) >= 2021 group by month(nos_date)
        ]]>
    </select>
    <select id="selectDayAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                day(nos_date) as label,avg(spactoators) as avg_spactoators
            from num_of_spactoators 
            where year(nos_date) >= 2021 group by day(nos_date)
            order by day(nos_date)
        ]]>
    </select>
    <select id="selectDayOfTheWeeksAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                day_of_the_weeks as label,avg(spactoators) as avg_spactoators 
            from num_of_spactoators
            where year(nos_date) >= 2021 
            group by day_of_the_weeks
        ]]>
    </select>
    <select id="selectTeamHomeAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                home as label,avg(spactoators) as avg_spactoators
            from num_of_spactoators 
            where home != '삼성' and year(nos_date) >= 2021 
            group by home
        ]]>
    </select>
    <select id="selectTeamAwayAvg" resultType="com.my_baseball_site.vo.NumOfSpactoatorsVO">
        <![CDATA[
            select 
                away as label,avg(spactoators) as avg_spactoators
            from num_of_spactoators 
            where away != '삼성' and year(nos_date) >= 2021 
            group by away
        ]]>
    </select>
</mapper>