<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.NumOfSpactoatorsByYearMapper">
    <select id="selectSumYear" resultType="com.my_baseball_site.vo.NumOfSpactoatorsByYearVO">
        select nosby_year,sum_year from num_of_spactoators_by_year
    </select>
    <select id="selectAvgOneGame" resultType="com.my_baseball_site.vo.NumOfSpactoatorsByYearVO">
        select nosby_year,avg_one_game from num_of_spactoators_by_year
    </select>
</mapper>