<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.PrizeMapper">
    <select id="selectPlayerPrize" resultType="com.my_baseball_site.vo.PlayerPrizeVO">
        select * from player_prize order by pp_year desc
    </select>
    <select id="selectGoldenGlove" resultType="com.my_baseball_site.vo.GoldenGloveVO">
        select * from golden_glove order by gg_year desc
    </select>
</mapper>