<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.RankingMapper">
    <select id="selectRankingToday" resultType="com.my_baseball_site.vo.RankingVO">
        select * from ranking limit 10
    </select>
    <select id="selectRankingByDate" resultType="com.my_baseball_site.vo.RankingVO">
        select * from ranking where r_date = #{date}
    </select>
</mapper>