<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.RankingMapper">
    <select id="selectRankingByDate" resultType="com.my_baseball_site.vo.RankingVO">
        select * from ranking where r_date = #{date}
    </select>
    <select id="selectYear" resultType="java.lang.Integer">
        select distinct year(r_date) as years from ranking 
        order by years desc
    </select>
    <select id="selectStartDate" resultType="java.util.Date">
        select r_date from ranking 
        where r_date > #{date} order by r_date limit 1
    </select>
    <select id="selectRankingGraphByYear" resultType="com.my_baseball_site.vo.RankingVO">
        <![CDATA[
            select year(r_date) as year,no 
            from ranking where team_name = '삼성' 
            and year(r_date) < 2022
            union all
            (
                select year(r_date),no from ranking 
                where team_name = '삼성' and year(r_date) = 2022
                order by r_date desc limit 1
            )
        ]]>
    </select>
    <select id="selectRankingGraphByDay" resultType="com.my_baseball_site.vo.RankingVO">
        select r_date,no from ranking 
        where team_name = '삼성'
        and r_date between #{start_date} and #{end_date}
        and note = '리그진행중'
        order by r_date 
    </select>
</mapper>