<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.RecordMapper">
    <select id="selectRegularSeriseYear" resultType="java.lang.Integer">
        select distinct tdr_year from team_defense_record
        order by tdr_year desc
    </select>

    <select id="selectTeamDefenseRecord" resultType="com.my_baseball_site.vo.TeamDefenseRecordVO">
        select * from team_defense_record where tdr_year = #{year}
    </select>
    <select id="selectTeamRunnerRecord" resultType="com.my_baseball_site.vo.TeamRunnerRecordVO">
        select * from team_runner_record where trr_year = #{year}
    </select>
    <select id="selectTeamHitterRecord" resultType="com.my_baseball_site.vo.TeamHitterRecordVO">
        select * from team_hitter_record 
        where thr_year = #{year} and thr_series = #{series}
    </select>
    <select id="selectTeamPitcherRecord" resultType="com.my_baseball_site.vo.TeamPitcherRecordVO">
        select * from team_pitcher_record 
        where tpr_year = #{year} and tpr_series = #{series}
    </select>
    
    <select id="selectPlayerDefenseRecord" resultType="com.my_baseball_site.vo.PlayerDefensRecordVO">
        select * from player_defense_record where pdr_year = #{year}
        <if test="!position.equals('전체')">
            and pdr_position = #{position}
        </if>
    </select>
    <select id="selectPlayerRunnerRecord" resultType="com.my_baseball_site.vo.PlayerRunnerRecordVO">
        select * from player_runner_record where prr_year = #{year}
        <if test="!position.equals('전체')">
            and prr_position = #{position}
        </if>
    </select>
    <select id="selectPlayerHitterRecordBasic" resultType="com.my_baseball_site.vo.PlayerHitterRecordBasicVO">
        select * from player_hitter_record_basic 
        where phrb_year = #{year} and phrb_series = #{series}
        <if test="!position.equals('전체')">
            and phrb_position = #{position}
        </if>
    </select>
    <select id="selectPlayerHitterRecordDetail" resultType="com.my_baseball_site.vo.PlayerHitterRecordDetailVO">
        select * from player_hitter_record_detail 
        where phrb_year = #{year}
        <if test="!position.equals('전체')">
            and phrb_position = #{position}
        </if>
    </select>
</mapper>