<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_baseball_site.mapper.RegisterMapper">
    <select id="selectRegister" resultType="com.my_baseball_site.vo.RegisterVO">
        select * from register where rg_date = #{date}
    </select>
    <select id="isRegistOrOutRegister" resultType="java.lang.Integer">
        select count(is_regist) from register 
        where rg_date = #{date} and is_regist = '등록'
        union all
        select count(is_regist) from register 
        where rg_date = #{date} and is_regist = '말소'
    </select>
</mapper>